@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import "tailwindcss";
@theme{
  --font-Bebas: 'Bebas Neue', 'sans-serif';
  --font-Gruppo: 'Gruppo', 'sans-serif';
}
header ul li{
  @apply px-2;
}
.bg-primary{
  background: rgb(85 81 227);
}
.bg-secondary{
  background: #2b2D77;
}

.mobile-nav{
  @apply fixed top-10 left-0 bg-gray-900 w-full h-1/4;
}

.mobile-nav li{
  @apply w-full text-center border-b-2 h-full;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease-out forwards;
}

html{
  scroll-behavior: smooth;
}